.Home {
  height: 100%;
  position: relative;
}

.marketIndexWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchWrapper {
  width: 100%;
  position: absolute;
  top: 33%;
}

.StockupLogo {
  width: 15em;
  margin: 0 auto;
}

.stockupPhrase {
  font-weight: 100;
  color: #6c6c6c;
  text-align: center;
  padding-top: 0.5em;
}

.errMsg {
  font-size: 0.9em;
  font-weight: 100;
  font-style: italic;
  color: #ff6565;
  padding-top: 1em;
  text-align: center;
}

.githubLogo {
  position: absolute;
  bottom: 3vh;
  left: 49.5%;
  color: #343434;
}

.githubLogo a {
  color: #343434;
  opacity: 1;
  transition: 0.2s;
}

.githubLogo a:hover {
  color: #1bba35;
}

.fullscreenBtn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .marketIndexWrapper {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .marketIndexWrapper {
    width: 100%;
  }

  .indexName {
    font-size: 1.3em;
  }

  .indexChange {
    font-size: 0.9em;
    margin-top: 0.04em;
  }

  .searchWrapper {
    top: 35%;
  }

  .StockupLogo {
    width: 12em;
  }

  .stockupPhrase {
    font-size: 0.85em;
  }

  .SearchBar {
    width: 50%;
    margin-top: 2em;
    padding-left: 1.5em;
  }

  .SearchBar:focus {
    width: 48%;
  }

  .errMsg {
    padding-left: 4em;
    padding-right: 4em;
  }

  .githubLogo {
    position: absolute;
    bottom: 6vh;
    left: 47.5%;
    color: #343434;
  }

  *:fullscreen,
  *:-webkit-full-screen,
  *:-moz-full-screen {
    background-color: rgba(255, 255, 255, 1);
  }

  .fullscreenBtn {
    font-size: 0.7em;
    font-weight: 100;
    font-style: italic;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 2vh;
    color: rgb(180, 180, 180);
  }
}

@media screen and (max-width: 375px) {
  .marketIndexWrapper {
    width: 100%;
  }

  .stockupPhrase {
    padding: 0 3em;
    padding-top: 0.5em;
  }
}
