.Home {
  height: 100%;
  position: relative;
}

.marketIndexWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchWrapper {
  width: 100%;
  position: absolute;
  top: 33%;
}

.StockupLogo {
  width: 15em;
  margin: 0 auto;
}

.stockupPhrase {
  font-weight: 100;
  color: #6c6c6c;
  text-align: center;
  padding-top: 0.5em;
}

.errMsg {
  font-size: 0.9em; 
  color: #FF6565;
  text-align: center;
  padding-top: 1em;
}
