.Home {
  height: 100%;
  position: relative;
}

.marketIndexWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchWrapper {
  width: 100%;
  position: absolute;
  top: 33%;
}

.StockupLogo {
  width: 15em;
  margin: 0 auto;
}

.stockupPhrase {
  font-weight: 100;
  color: #6c6c6c;
  text-align: center;
  padding-top: 0.5em;
}

.errMsg {
  font-size: 0.9em; 
  font-weight: 100;
  font-style: italic;
  color: #FF6565;
  padding-top: 1em;
  text-align: center;
}

.githubLogo {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  color: #343434;
}

.githubLogo a {
  color: #343434;
  opacity: 1;
  transition: 0.2s;
}

.githubLogo a:hover {
  color: #1BBA35;
}
