.StockNews {
  height: 100%;
}

.StockData {
  height: 100%;
  width: 35%;
  /* background-color: aqua; */
  float: left;
  text-align: right;
  position: relative;
}

.StockArticles {
  height: 100%;
  width: 65%;
  /* background-color: rgb(245, 245, 245); */
  float: left;
  position: relative;
}

.stockupIcon {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 2.2em;
  opacity: 0.5;
  transition: 0.2s;
}

.stockupIcon:hover {
  opacity: 1;
}

.addIcon {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 2.2em;
  opacity: 0.5;
  transition: 0.2s;
}

.addIcon:hover {
  opacity: 1;
}

.addIconText {
  font-size: 0.85em;
  font-weight: 100;
  text-align: right;
  color: white;
  position: absolute;
  top: 2.7em;
  right: 5em;
  width: 10em;
  opacity: 0;
  transition: 0.2s;
}

.addIcon:hover ~ .addIconText {
  color: rgb(81, 211, 102);
  /* color: #2E2E2E; */
  opacity: 1;
  top: 2.5em;
}