.StockNews {
  height: 100%;
}

.StockData {
  height: 100%;
  /* width: 30%; */
  width: 35%;
  /* background-color: aqua; */
  float: left;
  text-align: right;
  position: relative;
}

.StockArticles {
  height: 100%;
  /* width: 70%; */
  width: 65%;
  /* background-color: rgb(245, 245, 245); */
  float: left;
  position: relative;
}

.stockupIcon {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 2.2em;
  opacity: 0.5;
  transition: 0.2s;
}

.stockupIcon:hover {
  opacity: 1;
}

.addIcon {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 2.2em;
  opacity: 0.5;
  transition: 0.2s;
}

.addIcon:hover {
  opacity: 1;
}

.addIcon.added:hover {
  filter: hue-rotate(242deg);
}

.addIconText {
  font-size: 0.85em;
  font-weight: 100;
  text-align: right;
  color: white;
  position: absolute;
  top: 2.7em;
  right: 5em;
  width: 10em;
  opacity: 0;
  transition: 0.2s;
}

.addIcon:hover ~ .addIconText {
  color: rgb(81, 211, 102);
  /* color: #2E2E2E; */
  opacity: 1;
  top: 2.5em;
}

.addIcon:hover ~ .addIconText.added {
  filter: hue-rotate(242deg);
}

@media screen and (max-width: 1024px) {
  .stockName {
    padding-left: 30%;
  }

  .articlesWrapper {
    padding-right: 25%;
  }
}

@media screen and (max-width: 850px) {
  .stockName {
    padding-left: 20%;
  }

  .articlesWrapper {
    padding-right: 15%;
  }
}

/* Mobile view breakpoint */
@media screen and (max-width: 750px) {
  .addIconWrapper {
    display: none;
  }

  .stockupIcon {
    width: 1.8em;
    position: absolute;
    left: unset;
    top: 0.6em;
    right: 0.7em;
  }

  .StockNews {
    padding-left: 1em;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .StockData {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    text-align: left;
    padding: 1em 0 1.5em 0;
    flex: 0 1 auto;
  }

  .verticallyCenter {
    width: 100%;
    position: relative;
    top: 0;
    transform: translateY(0%);
  }

  .stockWrapper {
    margin: 0;
    margin-bottom: 1.5em;
  }

  .stockName {
    font-size: 2em;
    padding-left: 0%;
  }

  .stockPrice {
    font-size: 1.5em;
  }

  .stockStatsWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .stockStatsWrapper::-webkit-scrollbar {
    display: none;
  }

  .statWrapper {
    display: inline-block;
    margin: 0;
    margin-right: 3em;
  }

  .TickerBackground {
    /* display: none; */
    position: fixed;
    top: 83.5%;
  }

  .tickerSymbol {
    top: 0;
    left: -8vw;
  }

  .StockArticles {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    float: none;
    overflow: auto;
  }

  .articlesWrapper {
    width: 100%;
    padding: 0;
    padding-right: 2em;
    position: relative;
    overflow: unset;
    -webkit-overflow-scrolling: touch;
  }

  .Article:first-child {
    margin-top: 1vh;
  }

  .LoadingArticle:first-child {
    margin-top: 1vh;
  }
}
