.Article {
  margin-bottom: 2em;
}

.articleTitle {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(110, 110, 110);
  line-height: 1.7em;
}

.articleDate {
  font-size: 0.9em;
  color: #898989;
  /* font-style: italic; */
}