.Article {
  margin-bottom: 2em;
}

.articleTitle {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(110, 110, 110);
  line-height: 1.7em;
  transition: 0.2s;
}

.Article:hover .articleTitle {
  font-size: 1.21em;
  color: rgb(85, 85, 85);
}

.Article:hover .articleDate {
  font-size: 0.91em;
  color: rgb(117, 117, 117);
}

.articleDate {
  font-size: 0.9em;
  color: #898989;
  transition: 0.2s;
  /* font-style: italic; */
}