.Article {
  margin-bottom: 2.8em;
}

.Article:first-child {
  margin-top: 13vh;
}

.Article a {
  text-decoration: none;
}

.articleTitle {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(110, 110, 110);
  /* line-height: 1.3em; */
  transition: 0.2s;
}

.Article:hover .articleTitle {
  /* font-size: 1.205em; */
  transform: scale(1.0026, 1.0026);
  color: rgb(85, 85, 85);
}

.articleDate {
  font-size: 0.9em;
  color: #898989;
  transition: 0.2s;
  margin-top: 0.4em;
  /* line-height: 1.8em; */
}

.Article:hover .articleDate {
  /* font-size: 0.905em; */
  transform: scale(1.0025, 1.0025);
  color: rgb(104, 104, 104);
}
