.LoadingArticle {
  margin-bottom: 2.8em;
}

.LoadingArticle:first-child {
  margin-top: 13vh;
}

.loadingTitle {
  /* width: 80%; */
  height: 1em;
  background-color: rgb(148, 148, 148);
  border-radius: 50px;
  transition: 0.2s;
  animation: loading 0.8s ease-in infinite backwards;
}

.loadingDate {
  /* width: 30%; */
  height: 0.8em;
  background-color: #bdbdbd;
  margin-top: 0.6em;
  border-radius: 50px;
  transition: 0.2s;
  animation: loading 0.8s ease-in infinite backwards;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
