.verticallyCenter {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}

.stockWrapper {
  /* background-color: yellow; */
  margin: 2.2em 0;
}

.marketIndex {
  font-size: 0.9em;
  font-weight: bold;
  color: #9f9f9f;
  padding-bottom: 0.1em;
}

.stockName {
  font-size: 2.2em;
  font-weight: bold;
  color: #484848;
}

.stockPrice {
  font-size: 1.6em;
  font-weight: bold;
  color: #707070;
}

.percentChange {
  font-size: 1.2em;
  /* Color is determined by StockData component */
  /* color: #61D474;  */
}
