.TickerBackground {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: -10;
  animation: fadeUp 1.6s ease;
}

.tickerSymbol {
  /* font-family: Helvetica-BoldOblique; */
  font-size: 40vw;
  font-weight: bold;
  font-style: italic;
  color: #F3F3F3;
  position: relative;
  top: 18.5vh;
  left: -8vw;
  text-shadow: 4vw 0px #EAEAEA;
  text-align: left;
}

@keyframes fadeUp {
  0% {
    bottom: -3vh;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
