html, body {
  font-family: Helvetica;
  font-size: 1em;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.StockData {
  height: 100%;
  width: 35%;
  /* background-color: aqua; */
  float: left;
  text-align: right;
  position: relative;
}

.StockArticles {
  height: 100%;
  width: 65%;
  /* background-color: rgb(245, 245, 245); */
  float: left;
  position: relative;
}
