html, body {
  font-family: Helvetica;
  font-size: 1em;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.StockData {
  height: 100%;
  width: 35%;
  /* background-color: aqua; */
  float: left;
  text-align: right;
  position: relative;
}

.StockArticles {
  height: 100%;
  width: 65%;
  /* background-color: rgb(245, 245, 245); */
  float: left;
  position: relative;
}

.stockupIcon {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 2%;
  opacity: 0.5;
  transition: 0.2s;
}

.stockupIcon:hover {
  opacity: 1;
}

.addIcon {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 2%;
  opacity: 0.5;
  transition: 0.2s;
}

.addIcon:hover {
  opacity: 1;
}